.card {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    gap: 10px;
    font-size: 0.9em;
    width: 100%;
    * {
        margin: 7px 14px;
    }
    span {
        margin: 0;
    }
}

.card + .card {
    border-top: none;
}