.wrapper {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    background: transparent;

    .column {
        margin-top: 10px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 25%;
        border-radius: 3px;
        min-height: 600px;
        max-height: 900px;
        border: 1px solid rgb(80, 80, 80);

        h4 {
            margin: 0;
            margin: 8px;
            font-weight: 500;
            font-size: 1.1em;
            text-align: center;
        }
        .list {
            // background-color: aquamarine;
            width: 100%;
            min-height: 150px;
        }

        button {
            margin: 8px;
            width: fit-content;
            display: flex;
            align-self: center;
            font-size: 1rem;
        }
    }
}
