.App {
    min-height: 100vh;
    $link_clr: rgb(44, 44, 44);
    $link_clr_hvr: rgb(42, 42, 65);

    header {
        min-height: 50px;
        width: 100%;
        background-color: #ebedee;
        border-bottom: 2px solid rgba($color: #000000, $alpha: 0.3);
        display: flex;
        justify-content: center;
        align-items: center;
        nav {
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 50px;

            a, button {
                border: none;
                outline: none;
                font-size: 1em;
                line-height: 1em;
                padding: 0;
                color: $link_clr;
                cursor: pointer;

                &:hover {
                    color: $link_clr_hvr;
                }
            }
        }
    }

    .wrapper {
        background: linear-gradient(to top, #fdfbfb 0%, #ebedee 100%);
        min-height: calc(100vh - 52px);
    }
}
